html, body {
  background: hsl(212, 45%, 89%);
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  width: 40vh;
  padding: 11px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

img {
  height: 17rem;
  width: 17rem;
  border-radius: 15px;
  margin: 6px;
}

.text {
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  font-size: 20px;
  text-align: center;
  font-family: Outfit;
  margin-top: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 15px;
  color: grey;
  text-align: center;
  margin: 5px;
  font-family: Outfit;
  font-weight: 400;
}
